<?php
$db_host='host ip';
$db_name='database name';
$db_user='database user';
$db_pass='database password';
$db_port=3306;

/** Use this if using UNIX sockets
*/
//$db_port='/run/mysqld/mysqld.sock';

//If database shared with others and use a table preffix.
$db_prefix='';


/**
 * Needed sometimes if behind a reverse proxy or with some location configurations.
 * Needed if the emails are sended with an incomplete URL 
 */
$proxy_path="";
$proxy_port="";


/**
 * For logging
 */
//In production should be 0.
$log_level=3; //0: error, 1: warn, 2: info, 3: debug.
